{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3 class="text-left mb-3">Purchase History</h3>
        {% if services.total %}

          <table class="table table-bordered">

            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Service ID</th>
                <th scope="col">Purchase ID</th>
                <th scope="col">Price (₹)</th>
                <th scope="col">Purchase Date</th>
              </tr>
            </thead>

            <tbody>
              {% for service in services.items %}
                <tr>
                  <th scope="row">{{ loop.index }}</th>
                  <td><a href="{{ url_for('posts.post', post_id=service.post_id) }}">{{ service.post_id }}</a></td>
                  <td>{{ service.id }}</td>
                  <td>₹ {{ service.buy_price }}</td>
                  <td>{{ service.buy_date.strftime('%d %b, %Y %I:%M %p') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
            
        {% else %}
            <h2 class="text-center">Your History is empty. Try buyting some Services from HomePage.</h2>
        {% endif %}
    </div>
{% endblock content %}