{% extends "layout.html" %}
{% block content %}
    {% if posts.total == 0 %}
    <div class="text-center">
      <h3>There are no listings yet!</h3>
    </div>
      {% endif %}

    {% for post in posts.items %}
        {% if loop.index0%3 == 0 %}
        <article class="media content-section">
          <div class="card-deck">
        {% endif %}
            <div class="card">
              <img class="card-img-top" src="{{ url_for('static', filename='post_pics/' + post.image_file) }}" alt="Service Image">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text trunc-2">{{ post.content }}</p>
                <p class="card-text font-weight-bold">By: 
                  <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                </p>
              </div>
              <div class="card-footer">
                <div class="d-flex" style="align-items:center;justify-content:center;">
                  <div>
                    <small class="text-muted">Posted: {{ post.date_posted.strftime('%d %b, %Y') }}</small>
                  </div>
                  <div class="ml-auto">
                    <a href="{{ url_for('services.checkout', post_id=post.id) }}" class="btn btn-success">Buy: ₹{{ post.price }}</a>
                    
                  </div>
                </div>
              </div>
            </div>
            
        {% if (loop.index0-2)%3 == 0 %}
          </div>
        </article>
        {% elif loop.index == posts.per_page %}
          </div>
        </article>
        {% elif (loop.index + ((posts.page-1)*posts.per_page)) == posts.total %}
          </div>
        </article>
        {% endif %}
    {% endfor %}

    <div class="text-center">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    </div>
{% endblock content %}